</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>CTTNHH 1 Thành Viên &copy; Trang web của Lank 2023</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>


<!-- Bootstrap core JavaScript-->
<script src="http://localhost:3000/vendor/jquery/jquery.min.js"></script>
<script src="http://localhost:3000/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="http://localhost:3000/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="http://localhost:3000/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="http://localhost:3000/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="http://localhost:3000/js/demo/datatables-demo.js"></script>
<script src="http://localhost:3000/plugins/summernote/summernote.min.js"></script>

</body>

</html>
