<div class="hero_area">

  <!-- slider section -->
  <section class=" slider_section position-relative">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="detail-box">
                  <h1>
                    TIN TỨC
                  </h1>
                  <!-- <p>
                    Cuộc sống là những chuyến đi . Hãy để chúng tôi đồng hành cũng bạn và giúp bạn có những trải nghiệm tuyệt vời nhất !
                  </p>
                  <div>
                    <a href="">
                      Liên hệ .
                    </a>
                  </div> -->
                </div>
              </div>
             </div>
          
          </div> 

        </div>
      </div>
    </div>
  </section>

  <!-- end slider section -->
</div>

<!-- service section -->
<section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Dịch Vụ Tận Tâm .
      </h2>
      <p>
        Chúng tôi rất hân hạnh được phục vụ !
      </p>
    </div>
    <div class="service_container">
      <div class="box">
        <div class="img-box">
          <img src="https://cdn-icons-png.flaticon.com/512/4149/4149680.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Thủ tục 
          </h5>
          <p>
            Hồ sơ và thủ tục của mọi hành khách được xử lý nhanh chóng và dễ dàng .
          </p>
          <!-- <div>
            <a href="">
              Read More
            </a>
          </div> -->
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="https://cdn-icons-png.flaticon.com/512/3631/3631163.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Dịch vụ
          </h5>
          <p>
            Dịch vụ đa dạng ,thú vị , tận tâm từ những chuyến đi .
          </p>
          <!-- <div>
            <a href="">
              Read More
            </a>
          </div> -->
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="https://cdn-icons-png.flaticon.com/512/3009/3009489.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Khách Sạn 
          </h5>
          <p>
            Luôn tự hào về những khu nghỉ ngơi thoải mái tiện nghi, phù hợp với yêu cầu .
          </p>
          <!-- <div>
            <a href="">
              Read More
            </a>
          </div> -->
        </div>
      </div>
      <!-- <div class="box">
        <div class="img-box">
          <img src="images/stairs.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            bedroom
          </h5>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- end service section -->

<!-- about section -->
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="https://saigonstartravel.com/wp-content/uploads/2020/12/chi-phi-du-lich-da-nang-5.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div>
            <h2>
              Du lịch Việt Nam - Khám phá vẻ đẹp đất nước và con người.
            </h2>
            <p>
              Việt Nam là một đất nước đầy nắng gió, với những cảnh quan thiên nhiên tuyệt đẹp và con người thân thiện, hòa đồng. Với nhiều điểm đến hấp dẫn, du lịch Việt Nam đang trở thành một lựa chọn phổ biến cho du khách trong và ngoài nước.
            </p>
            <!-- <div class="d-flex justify-content-end">
              <a href="">
                Read More
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
<!-- concept section -->
<section class="concept_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        NHỮNG ĐỊA ĐIỂM NỔI TIẾNG .
      </h2>
      <p>
        Những địa điểm bạn không thể bỏ qua .
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="https://th.bing.com/th/id/R.9fd99f124ce62a4350a97f72ea987778?rik=rkoZYpuBDphxcw&pid=ImgRaw&r=0" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Khám phá Hà Nội - Thủ đô nghìn năm văn hiến.
            </h5>
            <p>
              Hà Nội là thủ đô của Việt Nam, với nhiều di sản văn hóa và lịch sử. Du khách có thể tham quan các điểm đến như: Hoàng thành Thăng Long, Chùa Một Cột, Hồ Gươm, Lăng Chủ tịch Hồ Chí Minh, Văn Miếu - Quốc Tử Giám,.. Ngoài ra, du khách còn có thể thưởng thức những món ăn đặc trưng của Hà Nội như phở, bún chả, nem rán, chả cá Lã Vọng,...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="https://th.bing.com/th/id/R.05d71dd49c974a598915efa60ee62b1b?rik=SpvbeM2LexKJnQ&pid=ImgRaw&r=0" alt="">
          </div>
          <div class="detail-box">
            <h5>
               Sapa - Vùng đất của những bản làng tuyệt đẹp
            </h5>
            <p>
              Sapa là một vùng đất nằm ở độ cao 1.500m so với mực nước biển, với khí hậu mát mẻ quanh năm. Du khách có thể tham quan các bản làng của người dân tộc thiểu số như H'Mông, Dao, Tày,... và thưởng ngoạn cảnh đẹp của núi rừng Tây Bắc. Ngoài ra, du khách còn có thể tham gia các hoạt động như đi bộ đường dài, leo núi, thăm quan các thác nước,...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="who_section layout_padding">
  <div class="container">
    <h2>
     Chúng tôi là ai ?
    </h2>
    <h5>
      Trải nghiệm và tư vấn .
    </h5>
    <p>
      
    </p>
    
  </div>
</section> <br>


<!-- client section -->

<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8">
        <div class="client-box">
          <div class="img-box">
            <img src="https://scontent.fhan3-4.fna.fbcdn.net/v/t39.30808-6/340854741_3459116580995388_5234736211383828902_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_ohc=1x5bhOLI_1YAX_uWjxS&_nc_ht=scontent.fhan3-4.fna&oh=00_AfDwyqiqsfmW2mriZWZKFMT_zL1D8R6AnzxlTdc3_llp7Q&oe=646A0ACF" alt="">
          </div>
          <div class="detail-box">
            <h5>
              exercitation
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed veniam, quis nostrud
              exercitation ullamco laboris nisi ut reprehenderit in voluptate velit
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8 ml-auto">
        <div class="client-box">
          <div class="img-box">
            <img src="https://scontent.fhan3-4.fna.fbcdn.net/v/t39.30808-6/332874394_957484048539656_7124220767738615700_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=uYEotZ-qnvEAX-Szzoe&_nc_ht=scontent.fhan3-4.fna&oh=00_AfBjyDD0nlgQ3_tfMyMeGSdmoEr4nvTh1AP0QOBgrXBHjQ&oe=646942DF" alt="">
          </div>
          <div class="detail-box">
            <h5>
              exercitation
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed veniam, quis nostrud
              exercitation ullamco laboris nisi ut reprehenderit in voluptate velit
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8">
        <div class="client-box">
          <div class="img-box">
            <img src="https://scontent.fhan3-4.fna.fbcdn.net/v/t1.6435-9/66832895_1252597061579449_845041026010710016_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=0debeb&_nc_ohc=DqDaYi5rNM8AX9EIJjI&_nc_ht=scontent.fhan3-4.fna&oh=00_AfDaD-1gz3kJFqDh64teHJaulPJGsU_mo8Brlty2AC6wyA&oe=648BFC3A" alt="">
          </div>
          <div class="detail-box">
            <h5>
              exercitation
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed veniam, quis nostrud
              exercitation ullamco laboris nisi ut reprehenderit in voluptate velit
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
