<%-include ('../header') %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Có lỗi</h1>
            <p class="lead">THông báo lỗi</p>
            <hr class="my-2">
            <p><%= message %> ...</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/category" role="button">Quay lại</a>
            </p>
        </div>
        
    </div>
<%-include ('../footer')%>