<%-include('../header') %>
    <div class="container">
        <form action="/create-tours" method="POST" role="form" id="tours_form" enctype="multipart/form-data">
            <legend>Form thêm mới product</legend>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">Tên product</label>
                        <input type="text" class="form-control" name="name" placeholder="Input name">
                        <small id="name_error" class="text-danger"></small> 
                    </div>
                    <div class="form-group">
                        <label for="">Mô tả ngày 1 </label>
                        <textarea name="description" id="deltai" class="form-control"  required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Mô tả ngày 2 </label>
                        <textarea name="des2" id="deltai" class="form-control"  required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Mô tả ngày 3 </label>
                        <textarea name="des3" id="deltai" class="form-control"  required="required"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Giá gốc</label>
                        <input type="text" class="form-control" name="price" placeholder="Input price">
                        <small id="price_error" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="">Giá khuyến mại</label>
                        <input type="text" class="form-control" name="sale_price" placeholder="Input sale_price">
                    </div>
                    <div class="form-group">
                        <label for="">Hình ảnh SP</label>
                        <input type="file" onchange="onChangeFile(this)" class="form-control my-2 " name="image">
                        <img src="" alt="" id="show_img" style="width: 100%;">
                        <small id="img_error" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="">Mã danh mục</label>
                        <select name="category_id" id="input" class="form-control" required="required">
                            <% data.forEach((item, key) => { %>
                            <option value="<%= item.id%>"><%= item.name%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Trạng thái </label>
                        
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" value="1" checked>
                                Hiển thị
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" value="0">
                                Tạm ẩn
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Ngày bắt đầu</label>
                        <input type="date" class="form-control" name="created_at" placeholder="Input url">
                        <small id="cr_error" class="text-danger"></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            </div>
        </form>
    </div>
<%-include('../footer')%>
<script>
    tours_form.onsubmit = function(){
            if(this.name.value == ''){
                this.name.style.border = '1px solid red';
                name_error.innerHTML = 'Không được để trống';
                this.name.focus();
            } else {
                name_error.innerHTML = '';
                this.name.style.border = '1px solid lightblue';
            };

            if(this.price.value == ''){
                this.price.style.border = '1px solid red';
                price_error.innerHTML = 'Không được để trống';
                this.price.focus();
            } else {
                price_error.innerHTML = '';
                this.price.style.border = '1px solid lightblue';
            };

            if(this.image.value == ''){
                this.image.style.border = '1px solid red';
                img_error.innerHTML = 'Không được để trống';
                this.image.focus();
            } else {
                img_error.innerHTML = '';
                this.image.style.border = '1px solid lightblue';
            };

            if(this.created_at.value == ''){
                this.created_at.style.border = '1px solid red';
                cr_error.innerHTML = 'Không được để trống';
                this.created_at.focus();
                return false;
            } else {
                cr_error.innerHTML = '';
                this.created_at.style.border = '1px solid lightblue';
            };
        }

        $('#deltai').summernote({
            height: 300
        });

        function onChangeFile(input) {
            if(input.files && input.files[0]){
                var reader = new FileReader();
                reader.onload = function (e){
                    $('#show_img').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
</script>